:root {
  --accent-color: #2196f3;
  --accent-color-text: #212121;
  --color-text: #ffffff;
  --color-fone: #757575;
  --color-text-button: #f5f4fa;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--accent-color-text);
  background-color: #e5e5e5;
}

.content-header {
  border-bottom: 1px solid #ececec;
}
.content {
  width: 1600px;
  margin: 0 auto;
  background-color: var(--color-text);
}

.margin-block {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-naw {
  display: flex;
  align-items: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*Шапка сайта*/
.header {
  border-bottom: 1px solid #ececec;
  width: 1600px;
  height: 80px;
  background-color: var(--color-text);
}

.content-header {
}

.nav {
  align-items: center;
  display: flex;
}

.logo {
  margin-right: 91px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.logo-text {
  color: #000000;
}

.header-info {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
}
.header-info .nav-li {
  margin-right: 50px;
}

.header-info .nav-li:last-child {
  margin-right: 0;
}
.header-list {
  color: var(--accent-color-text);
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-list.active {
  color: var(--accent-color);
}

.header-list:hover,
.header-list:focus {
  color: var(--accent-color);
}

.contakt {
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
  margin-left: auto;
}

.contakt-li {
  margin-right: 50px;
}
.contakt-li:last-child {
  margin-right: 0px;
}
.contakt .contakt-li {
}
.contakt-list {
  color: var(--color-fone);
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contakt-list:hover,
.contakt-list:focus {
  color: var(--accent-color);
}

/* Герой */

.main {
}

.list {
  list-style: none;
}

.mine-title-content {
  text-align: center;
  width: 1600px;
  margin: 0 auto;
  background-color: #2f303a;
}

.title {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 200px;
  padding-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.38;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-text);
}

.button {
  margin-bottom: 200px;
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--color-text);
  cursor: pointer;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Переваги */

.main-benefits {
}

.main-benefits .benefits-list:last-child {
  margin-right: 0px;
}

.benefits-content {
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: inline-block;
  margin-right: 30px;
}

.benefits-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-text {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-fone);
}

/* Чим ми заніиаємось */

.main-work {
  padding-top: 0;
}

.main-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.work-item {
  display: flex;
}

.work-item .work-list {
  margin-right: 30px;
}
.work-item .work-list:last-child {
  margin-right: 0;
}

.work-list {
  display: inline-block;
}

/* Команда */

.main-team-content {
  background-color: var(--color-text-button);
}

.main-team-content {
}

.team-item {
  padding-left: 0;
  display: flex;
}

.team-item .team-list {
  margin-right: 30px;
}
.team-item .team-list:last-child {
  margin-right: 0;
}

.team-list {
  display: inline-block;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-text {
  margin-bottom: 30px;
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--color-fone);
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 1600px;
  background-color: #2f303a;
}

.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.logo-bottom {
  color: var(--color-text);
}
.footer-span {
  color: var(--color-text);
}
.address-content {
  margin-top: 20px;
}

.footer-list {
  list-style: none;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.address-content {
  font-style: normal;
}

.address {
  color: var(--color-text);
  text-decoration: none;
}

.address:hover,
.address:focus {
  color: var(--accent-color);
}

.footer-contact {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}

/* Portfolio */

.header-portfolio.activ {
  color: var(--accent-color);
}
.portfolio {
}

.portfolio-content {
  padding-top: 94px;
}
/*Button*/

.menu {
  text-align: center;
}
.portfolio-menu {
  display: inline-block;
  margin-right: 8px;
}

.portfolio-list-button {
  padding: 6px 22px;
  font-family: Roboto, sans-serif;
  background-color: var(--color-text-button);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: 1px solid #f5f4fa;
}
.portfolio-button-all.active {
  color: var(--accent-color);
}

.portfolio-list-button:hover,
.portfolio-list-button:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--color-text);
  border: 1px solid #2196f3;
}

/* Portaolio content */

.portfolio-content-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-list {
  display: inline-block;
  margin-top: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.content-img {
  display: block;
}

.portfolio-content-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-left: 24px;
}

.portfolio-content-list {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--color-fone);
  margin-bottom: 20px;
  margin-left: 24px;
}
